@font-face {
    font-family: "Buenard", serif;
    src: url(/fontes/Buenard-Regular.ttf);
} 
#home
{
    display: flex;
    background-color: black;
}
#areaTable
{
    top: 0vh;
    margin-left: 15vw;
    width: 75vw;

}
#teiaMiranha
{
    margin-top: 5vh;

    width: 15vw;
}
#text{width: 250px;}
#areaTable h1{
    text-align: center;
    padding: 20px;
    font-size: 2em;

}
h1{
    color: #1f1f1f;
    font-family: "Buenard";
    text-align: center;
    width: 75vw;
    font-size: 3em;}